<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="TestCases.Travel"/>
      <class name="TestCases.Grocery"/>
      <class name="TestCases.ProductSearch"/>
      <class name="TestCases.loginTest"/>
      <class name="TestCases.MobileView"/>
      <class name="TestCases.AddToCart"/>
      <class name="TestCases.Appliences"/>
      <class name="TestCases.BecomeASeller"/>
      <class name="TestCases.FashionPageTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
